.about-us {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  padding: 5rem 0;
  &__content {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100vw;
    margin-top: 5rem;
    padding: 2rem 4rem;
  }
  &__img {
    min-height: 48rem;
    background-size: contain;
    background-image: url(../../assets/img/mobile-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 50rem;
    flex-basis: 50%;
  }

  &__details {
    flex-basis: 50%;
    text-align: left;
    padding-right: 15rem;
    & > * + * {
      margin-top: 2rem;
    }
  }
}
