.heading {
  color: rgb(34, 34, 34);
  font-family: 'Raleway', sans-serif;

  &.h1 {
    font-size: 6rem;
  }
  &.h2 {
    font-size: 3.4rem;
  }
  &.h3 {
    font-size: 2.4rem;
  }

  &.accent {
    color: white;
  }
}
